https://www.laurennishizaki.com {
  root /srv/www

  redir 307 {
    if {path} is /
    / /making-trails
  }

  log /var/log/caddy/access.log
  errors /var/log/caddy/errors.log

  tls lmnishizaki@gmail.com
}

http://laurennishizaki.com,
http://www.laurennishizaki.com,
https://laurennishizaki.com {
  redir / https://www.laurennishizaki.com{path} 301

  log /var/log/caddy/access.log
  errors /var/log/caddy/errors.log

  tls lmnishizaki@gmail.com
}
