https://www.laurennishizaki.com {
  root /srv/www

  errors {
    400 400.html
    404 404.html
    503 503.html
  }

  cgi /contact/submit /srv/cgi-bin/contact.py

  log /var/log/caddy/access.log
  errors /var/log/caddy/errors.log

  tls lmnishizaki@gmail.com
}
https://www.laurennishizaki.com/making-trails {
  root /srv/www/making-trails

  errors {
    404 404.html
  }

  log /var/log/caddy/access.log
  errors /var/log/caddy/errors.log

  tls lmnishizaki@gmail.com
}
https://www.laurennishizaki.com/photo-gallery {
  root /srv/www/photo-gallery

  errors {
    404 404.html
  }

  log /var/log/caddy/access.log
  errors /var/log/caddy/errors.log

  tls lmnishizaki@gmail.com
}

http://laurennishizaki.com,
http://www.laurennishizaki.com,
https://laurennishizaki.com {
  redir / https://www.laurennishizaki.com{path} 301

  log /var/log/caddy/access.log
  errors /var/log/caddy/errors.log

  tls lmnishizaki@gmail.com
}
