https://www.laurennishizaki.com {
  root /srv/www

  redir 307 {
    if {path} is /
    / /making-trails
  }

  errors {
    400 making-trails/400.html
    404 making-trails/404.html
    503 making-trails/503.html
  }

  cgi /making-trails/contact/submit /srv/cgi-bin/contact.py

  log /var/log/caddy/access.log
  errors /var/log/caddy/errors.log

  tls lmnishizaki@gmail.com
}

http://laurennishizaki.com,
http://www.laurennishizaki.com,
https://laurennishizaki.com {
  redir / https://www.laurennishizaki.com{path} 301

  log /var/log/caddy/access.log
  errors /var/log/caddy/errors.log

  tls lmnishizaki@gmail.com
}
