---
layout: default
description: default
---

<main class='homepage'>
  <ul>
    {% for post in site.posts limit:3 %}
    <li>
      <a class='post-preview' href='{{ site.baseurl }}{{ post.url }}'>
        <article>
          {% if post.image-url %}
            {% assign url-split = post.image-url | split: "." %}
            {% assign pic-ext = url-split | last %}
            {% assign pic-name = url-split | first | remove: '-copy' %}

            <figure>
              <img
                src='{{ site.baseurl }}/photos/{{ post.slug }}/{{ pic-name | append:".large." | append:pic-ext }}'
                alt='{{ post.image-alt }}'/>
            </figure>
          {% endif %}

          <section>
            <h2>{{ post.title }}</h2>
            <p><time datetime='{{ post.date | date: "%Y-%m-%d" }}'>
              {{ post.date | date: "%Y.%m.%d" }}
            </time></p>
          </section>

        </article>
      </a>
    </li>
    {% endfor %}
  </ul>

  <a href='{{ site.baseurl }}/all-posts/'>View all posts...</a>

  <h2>Filter by location</h2>

  <nav class='location'>
    {% for country in site.data['tags'].children %}
      <section>
        <div><h3>{{ country.display }}</h3></div>
        {% for location in country.children %}
          {% include country-link.html name=location.tag %}
        {% endfor %}
        {% for i in (1..5) %} {% comment %}
              placeholders are necessary for stamps to have uniform width
              {% endcomment %}
          <div class='placeholder'></div>
        {% endfor %}
      </section>
    {% endfor %}
  </nav>
</main>
