<!-- Pagination links -->
<div class="pagination {{ include.class }}">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.first_page_path }}" class="previous">&laquo; First</a>
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">&lsaquo; Previous</a>
  {% else %}
    <span class="previous hidden">&laquo; First</span>
    <span class="previous hidden">&lsaquo; Previous</span>
  {% endif %}

  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next &rsaquo;</a>
    <a href="{{ site.baseurl }}{{ paginator.last_page_path }}" class="next">Last &raquo;</a>
  {% else %}
    <span class="next hidden">Next &rsaquo;</span>
    <span class="next hidden">Last &raquo;</span>
  {% endif %}

</div>
