{% comment %}
  ideal use case:
    xsmall: multiple side-by-side images
    small: 2 landscapes
    med: 1 landscape + 1 portrait
    large: 2 portraits
    xlarge: 1 landscape
  panorama: varies
{% endcomment %}

{% if include.size=='xsmall' %}
  {% assign height = 218 %}
{% elsif include.size=='small' %}
  {% assign height = 250 %}
{% elsif include.size=='med' %}
  {% assign height = 350 %}
{% elsif include.size=='large' %}
  {% assign height = 500 %}
{% elsif include.size=='xlarge' %}
  {% assign height = 600 %}
{% else %}
  {% assign height = 100 %}
{% endif %}

{% assign url-split = include.url | split: "." %}
{% assign pic-ext = url-split | last %}
{% assign pic-name = url-split | first %}
{% assign pic-folder = site.baseurl | append: "/photos/" | append: page.slug %}

<figure data-desired-height="{{ height }}" id="{{ include.url }}">
  {% if include.size=='xlarge' or include.size=='large' %}
    <img
      src="{{ pic-folder }}/{{ pic-name }}.large.{{ pic-ext }}"
      alt="{{ include.alt }}" />
  {% else %}
    <img
      src="{{ pic-folder }}/{{ pic-name }}.{{ pic-ext }}"
      alt="{{ include.alt }}" />
  {% endif %}

  {% if include.caption %}
    <figcaption>{{ include.caption }}</figcaption>
  {% endif %}

</figure>
