main.contact-page {

  form {
    label {
      display: block;
      margin: 0; // $base-unit 0 0;
      line-height: $base-unit-small * 2;
      padding: $base-unit / 2;
    }
    input, textarea {
      line-height: $base-unit-small * 2;
      display: block;
      width: 100%;
      padding: $base-unit / 2;
      margin: 0 0 $base-unit;
      border: 1px solid $color-border-hover;
      border-radius: 3px;
    }
    input:last-child {
      font-family: $font-family-header;
      line-height: 4 * $base-unit-small;
      font-size: 1.4em;
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 2 * $base-unit 0;
      background-color: $color-divider;
      border: none;
      &:hover {
        background-color: $color-divider-dark;
        color: white;
      }
    }

    textarea {
      height: $base-unit * 16;
    }

    @media (min-width: $media-div) {
      display: grid;
      grid-template-columns:
        [title-start] minmax(0, 8em)
        [title-end field-start] minmax(0, 1fr) [field-end];
      grid-column-gap: $base-unit *2;

      label {
        grid-column: title;
        text-align: right;
      }
      input, textarea {
        grid-column: field;
      }
    }
  }
}
