body {
  display: grid;
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [main-start] minmax(0, 45em) [main-end]
    minmax(0, 1fr) [full-end];
  grid-column-gap: $base-unit;

  & > * {
    grid-column: main;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $color-link;
  &:link {
    color: $color-link;
  }
  &:visited {
    color: $color-link-visited;
  }
  &:hover, &:active {
    color: $color-link-hover;
    text-decoration: underline;
  }
}
