@import 'util/unstyled-list';

main.list-page {
  margin: 0 0 $base-unit * 2;

  & > ul {
    @extend %unstyled-list;
    margin: $base-unit 0;

    li a {
      @extend %header-link;
    }

    li:nth-child(odd) article.post-preview {
      flex-direction: row-reverse;
    }

    li:last-child article.post-preview {
      margin-bottom: 0;
    }
  }
}
