article.post {
  margin: 0 0 $base-unit * 3;

  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: $base-unit * 3;
    h1 {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: $base-unit;
    }
    p {
      margin: 0;
      color: $color-meta-text;
    }
    p:nth-of-type(2) {
      text-align: right;
    }
  }

  > :nth-child(0n+2) {
    margin-top: 0;
  }
  > :nth-last-child(1) {
    margin-bottom: 0;
  }

  .loading {
    font-family: $font-family-header;
    width: 1em;
    height: 0.5em;
    line-height: 1em;
    font-size: 100px;
    margin: 0 auto;
    color: $color-divider;

    &:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      animation: ellipsis steps(4,end) 1s infinite;
      -webkit-animation: ellipsis steps(4,end) 1s infinite;
      content: "\2026";
      width: 0px;
      transform: translateY(-50%);
    }
    @keyframes ellipsis {
      to {
        width: 1.2em;
      }
    }
    @-webkit-keyframes ellipsis {
      to {
        width: 1.2em;
      }
    }
  }

  .img-gallery {
    font-size: 0;
    line-height: 0;

    figure {
      text-align: center;
    }

    & > * {
      position: relative;
      display: inline-block;
      margin: 0;

      &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        box-shadow: inset 0 0 0 2px white;
      }
    }
  }

  .youtube {
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
