/**
 * Site header
 */
nav.location-group {
  display: flex;
  flex-wrap: wrap;

  margin: 25px 0;

  & > * {
    display: block;
    flex-grow: 1;
    margin: 4px;
    width: 120px;
    //height: 140px;
    //border: 2px solid lightgrey;
    border: none;

    &.placeholder {
      border: none;
      height: 0;
    }
  }

  .location-name {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    padding: 0.5em;
    border: none;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
    }

  }

  .location-tile {
    svg {
      display: block;
      margin: 0;
      fill: #94d31b;
      width: 100%;
      height: 100%;
    }

    &:hover svg rect {
      fill: darkgrey;
    }
  }
}

.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  //position: relative;

  padding-top: 2rem;
  padding-bottom: 2rem;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 2rem;
    line-height: 1;
    margin: 0 0 0.5rem;
  }

  // tagline:
  h2 {
    font-family: $base-font-family;
    font-size: 1rem;
    line-height: 1.2;
    margin: 0;
  }
}

.site-nav-location {
  //float: right;
  //line-height: $base-line-height * $base-font-size * 2.25;
  //z-index: 10;  // make sure this appears on top of all other content


  .nav-trigger {
    display: none;
  }

  #nav-country-trigger {
    //display: none;
    //float: right;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
  .page-link {
    display: block;
    padding: 5px 10px;

    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  .menu-icon {
    font-size: 1.5rem;
    line-height: 2.4rem;
    display: inline-block;
    transform: rotate(0);
    color: black;
  }

  #nav-country-trigger ~ .trigger {
    clear: both;
    display: none;
  }

  #nav-country-trigger:hover ~ .menu-icon {
    color: blue;
  }

  #nav-country-trigger:checked {
    ~ label .menu-icon {
      transform: rotate(90deg);
    }
    ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

/*
  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
*/

}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */

.more-link {
  text-decoration: none;

  h1 {
    //background-color: darkgrey;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1;

    padding: 0.5em 0;
    margin: 2rem 0 0;

    &:hover {
      border-color: #707070;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-around;
  width: 100%;
  &.top {
    margin-bottom: 1em;
  }
  &.bottom {
    margin-top: 1em;
  }
  > span {
    display: flex;
    justify-content: space-around;
  }
  > span.hidden {
    visibility: hidden;
  }
  a {
    text-decoration: none;
  }
}


iframe.youtube {
  width: 640px; //100%;
  height: 360px; //$content-width *360/640;
}

.page-content {
  padding: 2rem 0;
  .post-content :first-child {
    margin-top: 0;
  }
  .post-content :last-child {
    margin-bottom: 0;
  }
}

.page-heading {
  //@include relative-font-size(1.25);
}

ul.post-list {
  margin: 0;// 1em 0;
  list-style: none;

  li {
    margin: 20px 0;

    &:first-child, &:last-child{
      margin: 0;
    }
  }


  li a {
    text-decoration: none;
    display: block;
    width: 100%;

    border-top: 2px solid $border-color;
    border-bottom: 0.75rem solid $border-color;

    padding-top: 1rem;

    &:hover {
      border-color: $border-color-hover;

      div.text {
        border-color: $border-color-hover;
      }
    }

    div.text {
      width: 100%;

      padding: 1rem 0;
      border-bottom-style: solid;
      border-bottom-width: 0.75rem;
      border-color: $border-color;

      h1, h2, h3, h4, h5, h6, p.post-excerpt {
        margin: 0.5rem 0;
      }

      *:last-child {
        margin-bottom: 0;
      }

      &:only-child {
        padding-top: 0;
        width: 100%;
      }

      @media (min-width: 500px) {
        padding: 0 1rem 1rem;
      }

    }

    div.image-container {
      position: relative;
      overflow: hidden;
      width: 100%;

      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &.featured-post-list li:first-child a {  // top post on the home page
    display: inherit;
    //display: inline-block;
    //min-height: 0;
    //border-bottom-width: 0.75rem;

    div.text {
      padding: 1rem;
      //width: 100%;
      //border-bottom-width: 0.75rem;
    }

    div.image-container {
      width: 100%;
      height: 20em;
    }
  }

  &.featured-post-list li:nth-child(1n+2) a {  // other posts featured on the home page
    @media (min-width: 500px) {
      display: flex;
      flex-direction: row-reverse;
    }
    //border-bottom-width: 0.75rem;

    div.text {
      @media (min-width: 500px) {
        width: 30%;
      }
      &:only-child {
        width: 100%;
      }
      //border-bottom-width: 0.75rem;
    }

    div.image-container {
      @media (min-width: 500px) {
        width: 70%;
      }
      min-height: 7.4rem;
    }
  }

  &.offset-post-list li {
    margin: 30px 0;
  }

  &.offset-post-list li a {
    @media (min-width: 500px) {
      display: flex;
      border-bottom-width: 1.5rem;
    }

    div.text {
      @media (min-width: 500px) {
        width: 50%;
        border-bottom-width: 1.5rem;
      }
      &:only-child {
        width: 100%;
      }
    }

    div.image-container {
      @media (min-width: 500px) {
        width: 50%;
      }
      min-height: 7.75rem;
    }

  }

  &.offset-post-list li:nth-child(odd) a {
    @media (min-width: 500px) {
      // picture on the right, text on the left
      flex-direction: row-reverse;
    }
  }
}

.post-meta {
  color: $grey-color;
  line-height: 1;
}

.post-banner {
  //width: 50%;
  //align-content: center;
}

.post-link {
  display: block;
  font-size: 1.5rem;
}

.post-excerpt {
  //font-size: $base-font-size;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;

  > .post-meta {
    display: flex;
    justify-content: space-between;
  }
}

.post-title {
  //@include relative-font-size(2.625);
  //letter-spacing: -1px;
  //line-height: 1;
  margin-top: 0;

  //@include media-query($on-laptop) {
  //  @include relative-font-size(2.25);
  //}
}

.post-content {
/*
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
*/
}
