/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */

.more-link {
  background-color: darkgrey;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 22px;

  padding: 10px 0;

  margin-top: $spacing-unit/4;
  //font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: space-around;
  width: 100%;
  > span {
    display: flex;
    justify-content: space-around;
  }
  > span.hidden {
    visibility: hidden;
  }
}


iframe.youtube {
  width: 640px; //100%;
  height: 360px; //$content-width *360/640;
}

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

ul.post-list {
  margin: $spacing-unit/4 0;
  list-style: none;

  li {
    margin: 1em 0;
    background-color: darkgrey;
  }

  li a {
    display: block;
    width: 100%;

    div.text {
      box-sizing: border-box;
      padding: 1em;
      background-color: lightgrey;
    }

    div.image-container {
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      width: 100%;

      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &.featured-post-list li:first-child a {  // top post on the home page
    display: inline-block;
    min-height: 0;

    div.text {
      text-align: left;
      height: 100px;
      width: 100%;
    }

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }

  &.featured-post-list li a {  // other posts featured on the home page
    display: flex;
    min-height: 150px;

    div.text {
      text-align: right;
      width: 30%;
      box-sizing: border-box;
    }

    div.image-container {
      width: 70%;
    }
  }

  &.offset-post-list li a {
    display: flex;

    div.text {
      width: 50%;
    }

    div.image-container {
      width: 50%;
    }

  }

  &.offset-post-list li:nth-child(odd) a {
    // picture on the right, text on the left
    flex-direction: row-reverse;
  }
}

.post-meta {
  font-size: $base-font-size;
  color: $grey-color;
  margin-bottom: $spacing-unit/4;
}

.post-banner {
  //width: 50%;
  //align-content: center;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-excerpt {
  font-size: $base-font-size;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  .img-gallery {
    text-align: center;
  }
  img.small {
    display: inline-block;
    height: 270px;
    align: center;
  }

  p > img:first-child {
    padding-left: auto;
  }

  p > img:last-child {
    padding-right: auto;
  }
}
