/**
 * Site header
 */

.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  padding: $spacing-unit 0;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 2rem;
    line-height: 1;
    margin: 0 0 0.5rem;
  }

  // tagline:
  h2 {
    font-family: $base-font-family;
    font-size: 1rem;
    line-height: 1.2;
    margin: 0;
  }
}


/**
 * Site footer
 */

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit/2 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 4;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 4;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 4;
  padding-left: $spacing-unit / 4;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 4));
  width:         calc(35% - (#{$spacing-unit} / 4));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 4));
  width:         calc(20% - (#{$spacing-unit} / 4));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 4));
  width:         calc(45% - (#{$spacing-unit} / 4));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 4));
    width:         calc(50% - (#{$spacing-unit} / 4));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 4));
    width:         calc(100% - (#{$spacing-unit} / 4));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 4));
    width:         calc(100% - (#{$spacing-unit} / 4));
  }
}


/**
 * Home page & post lists
 */

// country tiles on home page
nav.location-group {
  display: flex;
  flex-wrap: wrap;

  margin: 25px 0;

  & > * {
    display: block;
    flex-grow: 1;
    margin: 4px;
    width: 120px;
    border: none;

    &.placeholder {
      border: none;
      height: 0;
    }
  }

  .location-name {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    padding: 0.5em;
    border: none;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
    }

  }

  .location-tile {
    svg {
      display: block;
      margin: 0;
      fill: #94d31b;
      width: 100%;
      height: 100%;
    }

    &:hover svg rect {
      fill: darkgrey;
    }
  }
}

.more-link {
  text-decoration: none;

  h1 {
    border: 2px solid darkgrey;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1;

    padding: 0.5em 0;
    margin: $spacing-unit 0 0;

    &:hover {
      border-color: #707070;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-around;
  width: 100%;
  &.top {
    margin-bottom: 1em;
  }
  &.bottom {
    margin-top: 1em;
  }
  > span {
    display: flex;
    justify-content: space-around;
  }
  > span.hidden {
    visibility: hidden;
  }
  a {
    text-decoration: none;
  }
}

ul.post-list {
  margin: 0;
  list-style: none;

  li {
    margin: 20px 0;

    &:first-child, &:last-child{
      margin: 0;
    }
  }

  li a {
    text-decoration: none;
    display: block;
    width: 100%;

    border-top: 2px solid $border-color;
    border-bottom: 0.75rem solid $border-color;

    padding-top: $spacing-unit/2;

    &:hover {
      border-color: $border-color-hover;

      div.text {
        border-color: $border-color-hover;
      }
    }

    div.text {
      width: 100%;

      padding: $spacing-unit/2 0;
      border-bottom-style: solid;
      border-bottom-width: 0.75rem;
      border-color: $border-color;

      h1, h2, h3, h4, h5, h6, p.post-excerpt {
        margin: $spacing-unit/4 0;
      }

      *:last-child {
        margin-bottom: 0;
      }

      &:only-child {
        padding-top: 0;
        width: 100%;
      }

      @media (min-width: 500px) {
        padding: 0 $spacing-unit/2 $spacing-unit/2;
      }

    }

    div.image-container {
      position: relative;
      overflow: hidden;
      width: 100%;

      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &.featured-post-list li:first-child a {  // top post on the home page
    display: inherit;

    div.text {
      padding: $spacing-unit/2;
    }

    div.image-container {
      width: 100%;
      height: 20em;
    }
  }

  &.featured-post-list li:nth-child(1n+2) a {  // other posts featured on the home page
    @media (min-width: 500px) {
      display: flex;
      flex-direction: row-reverse;
    }

    div.text {
      @media (min-width: 500px) {
        width: 30%;
      }
      &:only-child {
        width: 100%;
      }
    }

    div.image-container {
      @media (min-width: 500px) {
        width: 70%;
      }
      min-height: 7.4rem;
    }
  }

  &.offset-post-list li {
    margin: 30px 0;
  }

  &.offset-post-list li a {
    @media (min-width: 500px) {
      display: flex;
      border-bottom-width: 1.5rem;
    }

    div.text {
      @media (min-width: 500px) {
        width: 50%;
        border-bottom-width: 1.5rem;
      }
      &:only-child {
        width: 100%;
      }
    }

    div.image-container {
      @media (min-width: 500px) {
        width: 50%;
      }
      min-height: 7.75rem;
    }

  }

  &.offset-post-list li:nth-child(odd) a {
    @media (min-width: 500px) {
      // picture on the right, text on the left
      flex-direction: row-reverse;
    }
  }
}

.post-meta {
  color: $grey-color;
  line-height: 1;
}

.post-link {
  display: block;
  font-size: 1.5rem;
}


/**
 * Posts
 */

.post-header {
  > .post-title {
    margin: 0 0 $spacing-unit/2;
  }

  > .post-meta {
    display: flex;
    justify-content: space-between;
    margin: $spacing-unit 0 0;
  }
}

.page-content {
  padding: $spacing-unit 0;

  .post-content >:last-child {
    margin-bottom: 0;
  }
}

.img-gallery {
   font-size: 0;
   
   &:first-child {
     margin-top: $spacing-unit;
   }

   & > * {
     position: relative;
     display: inline-block;
     margin: 0;

     &::before {
       content: "";
       position: absolute;
       top: -1px;
       bottom: -1px;
       left: -1px;
       right: -1px;
       box-shadow: inset 0 0 0 2px white;
    }
  }
}

.youtube {
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;

  iframe {
    width: 100%;
    height: 100%;
  }
}

table.mid-align-2-col {
  td:first-child {
    text-align: right;
    font-weight: 600;
    //padding-right: $spacing-unit/4;
  }
  td:last-child {
    text-align: left;
    //padding-left: $spacing-unit/4;
    background-color: #f5f5f5;
  }
}
