body > footer {
  display: block;
  padding: 2*$base-unit-small 0 0;

  border-top: 1px solid $color-divider;

  align-items: center;
  font-size: small;

  div.content {
    width: 100%;
    & > * {
      margin: 0;
      line-height: 1rem;//$base-unit;
      text-align: center;
    }
    nav {
      color: $color-link;
      margin-bottom: 0;
      text-align: center;
      ul {
        width: 100%;
        margin: 0 0 $base-unit/2;
        padding: 0;
        li {
          display: inline;
          margin: 0 $base-unit / 2;
        }
      }
      a:link, a:visited {
        color: $color-link;
        text-decoration: none;
      }
      a:focus, a:hover, a:active {
        text-decoration: underline;
      }
    }
    a.logo {
      display: block;
      width: 100%;
      background-color: $color-link;
      margin: 0;
      padding: $base-unit-small/2;
      height: $base-unit * 3;
      img {
        height: 100%;//2*$base-unit;
        display: block;
        width: 100%;
        fill: white;//$color-subtle;
        justify-self: center;
      }
    }
    p {
      margin: $base-unit-small / 2 0 $base-unit-small * 2;
      span {
        font-family: $font-family-header;
      }
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-column: full;
    grid-template-columns: inherit;
    grid-gap: inherit;

    div.content {
      display: grid;
      grid-template-columns: inherit;
      grid-column: full;
      grid-gap: inherit;
      & > * {
        grid-column: main;
      }
      a.logo {
        grid-column: full;
      }
    }

    @media (min-width: $media-toggle) {
      padding: 2*$base-unit 0;
      div.content {
        grid-column: main;
        grid-template-columns: 1fr [logo-start] auto
          [logo-end text-start] auto [text-end] 1fr;
        grid-column-gap: 0;//$base-unit * 2;
        a.logo {
          grid-column: logo;
          grid-row: 1 / span 1;
          height: 3rem;
          width: 3rem;
          margin-right: 1rem;
        }
        nav, p {
          grid-column: text;
        }
        nav {
          margin: 0;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-column-gap: $base-unit;
          text-align: left;
          ul {
            margin: 0 0 auto 0;
            li {
              display: block;
              margin: 0;
            }
          }
        }
        p {
          margin-bottom: 0;
          text-align: left;
        }
      }
    }
    @media (min-width: $media-toggle-wide) {
      div.content {
        grid-template-columns: 1fr [logo-start] auto
          [logo-end text-start] auto [text-end] 1fr;
        a.logo {
          margin-right: 2rem;
        }
        nav {
          div {
            margin-right: $base-unit * 2;
          }
        }
      }
    }
  }
}
