body > footer {
  font-size: small;
  border-top: 1px solid $color-divider;
  padding: $base-unit * 2 0;

  display: grid;
  grid-template-columns: inherit;
  grid-column-gap: inherit;
  grid-column: full;

  & > * {
    grid-column: main;
  }

  nav {
    display: flex;
    margin: 0 auto $base-unit / 2;
    a {
      padding: 0 $base-unit-small * 2;
      border-right: 1px solid $color-divider;
    }
    a:last-child {
      border-right: none;
    }
  }

  p {
    margin: 0;
    text-align: center;
    line-height: $base-unit * 1.5;
    span {
      font-family: $font-family-header;
    }
  }

}
