a {
  text-decoration: none;
  color: $color-link;
  &:link {
    color: $color-link;
  }
  &:visited {
    color: $color-link-visited;
  }
  &:focus, &:hover, &:active {
    color: $color-link-hover;
    text-decoration: underline;
  }
}
