nav.paginator {
  margin: 0;
  display: flex;

  align-items: center;

  & > * {
    //align-self: center;
    flex-grow: 1;
  }

  span.pager {
    text-align: center;
    &:first-child {
      margin-left: 40%;
    }
    &:last-child {
      margin-right: 40%;
    }
  }
  a.next, a.last {
    text-align: right;
  }

  @media (min-width: $media-toggle) {
    a.prev::after {
      content: 'ious';
    }
    span.pager::before {
      content: 'Page ';
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    span.pager {
      grid-column-start: 3;
      grid-column-end: 4;
      &:first-child, &:last-child {
        margin: 0;
      }
    }
  }
}
