table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  column-fill: balance;

  th, td {
    padding-left: 2em;
    padding-right: 2em;
  }
  thead > tr {
    border-bottom: 2px solid darkgrey;
  }
  tbody > tr {
    border-top: 1px solid #ccc;//$grey-color-light;
    border-bottom: 1px solid #ccc;//$grey-color-light;
  }
}

table.mid-align-2-col {
  td:first-child {
    text-align: right;
    font-weight: 600;
  }
  td:last-child {
    text-align: left;
    background-color: #f5f5f5;
  }
}
