<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
</head>
<body>
  <header>
    <!-- FIXME hacky trailing / -->
    <h1><a href='{{ site.baseurl }}/'>{{ site.name }}</a></h1>
    <p>{{ site.description }}</p>
  </header>

  {{ content }}

  <footer>
    <nav>
      <a href='{{ site.author.github }}'>GitHub</a>
      <a href='{{ site.baseurl }}/contact/'>Contact</a>
    </nav>
    <p><span>{{ site.name }}</span> © {{ site.time | date: "%Y" }} {{ site.author.name }}. {{ site.copyright }}</p>
  </footer>
  
</body>
</html>
