<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
</head>
<body>
  <header>
    <!-- FIXME hacky trailing / -->
    <h1><a href='{{ site.baseurl }}/'>{{ site.name }}</a></h1>
    <p>{{ site.description }}</p>
    <p style='position:fixed; z-index:999; text-align:right; width: 100%; color:lightgrey; transform:translate(-30px, -30px);'>New and Improved!</p>
  </header>

  {{ content }}

  <footer>
    <nav>
      <a href='{{ site.author.github }}'>GitHub</a>
      <a href='{{ site.baseurl }}/contact/'>Contact</a>
    </nav>
    <p><span>{{ site.name }}</span> © {{ site.time | date: "%Y" }} {{ site.author.name }}. {{ site.copyright }}</p>
  </footer>

<!--
  <script src="http://files.keyes.ie/things/baseliner/baseliner-latest.min.js">
  </script>
  <script>
    window.onload = function() {
      baseliner = new Baseliner({gridHeight: 28});
    }
  </script>
-->
</body>
</html>
