---
layout: default
---

<!--
<div class="home">

  <h1 class="page-heading">Newest Posts</h1>

  {{ content }}

  <h1>Newest Posts</h1>
-->
  <ul class="post-list featured-post-list">

    {% for post in site.posts limit:3 %}

      <li>
        <a href="{{ post.url | relative_url }}">

        {% if post.image-url %}
          <div class="image-container">
            <img src="{{ site.baseurl }}/photos/{{ post.slug }}/{{ post.image-url }}" alt="{{ post.image-alt }}" class="post-banner"/>
          </div>
        {% endif %}

        <div class="text">
          <span class="post-meta">{{ post.date | date: site.date_format }}</span>
          <h2 class="post-link">{{ post.title | escape }}</h2>
        </div>


        </a>
      </li>

    {% endfor %}

  </ul>

  <a class="more-link" href="{{ site.baseurl }}{% link all-posts/index.html %}">
    View all posts...
  </a>

  <h1>Filter by Location</h1>

  <span class="location-link">
    <a href="{{ site.baseurl }}{% link california/index.html %}">
      <h2>California</h2>
      {% include images/california.svg %}
    </a>
  </span>
  <span class="location-link">
    <a href="{{ site.baseurl }}{% link massachusetts/index.html %}">
      <h2>Massachusetts</h2>
      {% include images/massachusetts.svg %}
    </a>
  </span>
  <span class="location-link">
    <a href="{{ site.baseurl }}{% link nevada/index.html %}">
      <h2>Nevada</h2>
      {% include images/nevada.svg %}
    </a>
  </span>
  <span class="location-link">
    <a href="{{ site.baseurl }}{% link new-york/index.html %}">
      <h2>New York</h2>
      {% include images/new-york.svg %}
    </a>
  </span>
  <span class="location-link">
    <a href="{{ site.baseurl }}{% link vermont/index.html %}">
      <h2>Vermont</h2>
      {% include images/vermont.svg %}
    </a>
  </span>
  <span class="location-link">
    <a href="{{ site.baseurl }}{% link washington/index.html %}">
      <h2>Washington</h2>
      {% include images/washington.svg %}
    </a>
  </span>

  <ul>
    <li><a class="page-link" href="{{ site.baseurl }}{% link chile/index.html %}">Chile</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}{% link china/index.html %}">China</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}{% link germany/index.html %}">Germany</a></li>
  </ul>

  <h2>United States:</h2>
  <ul>
    <li><a class="page-link" href="{{ site.baseurl }}{% link california/index.html %}">California</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}{% link massachusetts/index.html %}">Massachusetts</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}{% link nevada/index.html %}">Nevada</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}{% link new-york/index.html %}">New&nbsp;York</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}{% link washington/index.html %}">Washington</a></li>
    <li><a class="page-link" href="{{ site.baseurl }}{% link vermont/index.html %}">Vermont</a></li>
  </ul>

<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>


</div>
-->
