---
layout: default
---

<!--
<div class="home">

  <h1 class="page-heading">Newest Posts</h1>

  {{ content }}

  <h1>Newest Posts</h1>
-->
  <ul class="post-list featured-post-list">

    {% for post in site.posts limit:3 %}

      <li>
        <a href="{{ post.url | relative_url }}">

        {% if post.image-url %}
          <div class="image-container">
            <img src="{{ site.baseurl }}/photos/{{ post.slug }}/{{ post.image-url }}" alt="{{ post.image-alt }}" class="post-banner"/>
          </div>
        {% endif %}

        <div class="text">
          <span class="post-meta">{{ post.date | date: site.date_format }}</span>
          <h2 class="post-link">{{ post.title | escape }}</h2>
        </div>


        </a>
      </li>

    {% endfor %}

  </ul>

  <a class="more-link" href="{{ site.baseurl }}/all-posts/">
    <h1>View all posts...</h1>
  </a>

  <section>
    <h1>Filter by Location</h1>

    <nav class="location-group">
      <div class="location-name"><h2>Asia</h2></div>
      {% include country-links.html link-name="cambodia" display-name="Cambodia" %}
      {% include country-links.html link-name="china" display-name="China" %}
      {% include country-links.html link-name="japan" display-name="Japan" %}
      {% include country-links.html link-name="thailand" display-name="Thailand" %}
      {% include country-links.html link-name="vietnam" display-name="Vietnam" %}
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
    </nav>

    <nav class='location-group'>
      <div class="location-name"><h2>Europe</h2></div>
      {% include country-links.html link-name="germany" display-name="Germany" %}
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
    </nav>

    <nav class='location-group'>
      <div class="location-name"><h2>North America: USA</h2></div>
      {% include country-links.html link-name="california" display-name="California" %}
      {% include country-links.html link-name="massachusetts" display-name="Massachusetts" %}
      {% include country-links.html link-name="nevada" display-name="Nevada" %}
      {% include country-links.html link-name="new-york" display-name="New York" %}
      {% include country-links.html link-name="vermont" display-name="Vermont" %}
      {% include country-links.html link-name="washington" display-name="Washington" %}
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
    </nav>

    <nav class='location-group'>
      <div class="location-name"><h2>South America</h2></div>
      {% include country-links.html link-name="chile" display-name="Chile" %}
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
    </nav>

  </section>

<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>


</div>
-->
