---
layout: page
---

<div class="home">

  {{ content }}

  {% include pagination-links.html class="top" %}

  <!-- This loops through the paginated posts -->
  <ul class="post-list offset-post-list">
    {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">

          {% if post.image-url %}
            <div class="image-container">
              <img src="{{ site.baseurl }}/photos/{{ post.slug }}/{{ post.image-url }}" alt="{{ post.image-alt }}" class="post-banner"/>
            </div>
          {% endif %}

          <div class="text">
            <span class="post-meta">{{ post.date | date: site.date_format }}</span>
            <h2 class="post-link">{{ post.title | escape }}</h2>
            <p class="post-excerpt">{{ post.excerpt }}</p>
            <span class="post-meta">{{ post.location }}</span>
          </div>

        </a>
      </li>

    {% endfor %}
  </ul>

  {% include pagination-links.html class="bottom" %}

</div>
