@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}


body, button, input, optgroup, select, textarea {
  font-family: $font-family-body;
  line-height: $base-unit * 2;
}

table {
  border-collapse: collapse;
}

p, h1, h2, h3, h4, h5, h6, aside, blockquote, ul, ol, pre, table {
  margin-top: $base-unit * 2;
  margin-bottom: $base-unit * 2;
}

ul, ol {
  padding-left: $base-unit * 3;
  ul, ol, li {
    margin-top: 0;
    margin-bottom: 0;
  }
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: $base-unit;
  border-left: $base-unit * 2 solid $color-border;
  color: $color-quote-text;
  p {
    margin-top: $base-unit;
    margin-bottom: $base-unit;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: normal;
  margin-top: $base-unit * 3;
  margin-bottom: $base-unit * 2;
}

$harmonic: 1.175;

h1 {
  font-size: 1em * pow($harmonic, 5);
  line-height: $base-unit * 3;
}

h2 {
  font-size: 1em * pow($harmonic, 4);
  line-height: $base-unit * 3;
}

h3 {
  font-size: 1em * pow($harmonic, 3);
  line-height: $base-unit * 2;
}

h4 {
  font-size: 1em * pow($harmonic, 2);
  line-height: $base-unit * 2;
}

h5 {
  font-size: 1em * pow($harmonic, 1);
  line-height: $base-unit * 2;
}

h6 {
  font-size: 1em * pow($harmonic, 0);
  line-height: $base-unit * 2;
}
