$color-theme: #2a7ae2;
$color-theme-grey: #A3B0C1;
$color-theme-dark: #1756a9;

$color-base-text: black;
$color-link: $color-theme;
$color-link-hover: $color-theme;
$color-link-visited: $color-theme-rich;

$color-meta-text: #999;
$color-quote-text: #555;

$color-border: #eee;
$color-border-hover: $color-theme-grey;

$color-divider: #ccc;
$color-divider-dark: $color-theme-rich;

$font-family-body: 'Open Sans', sans-serif;
$font-family-header: 'Roboto Slab', serif;

$base-font-size: 1rem;
$base-unit: 14px;
$base-unit-small: 12px;

$media-div: 500px;
