$color-base-text: black;
$color-link: #2a7ae2;
$color-link-hover: #2a7ae2;
$color-link-visited: #1756a9;

$color-meta-text: #999;
$color-quote-text: #555;

$color-border: #eee;
$color-border-hover: #ccc;

$color-divider: #ccc;
$color-divider-dark: #888;

$font-family-body: 'Open Sans', sans-serif;
$font-family-header: 'Roboto Slab', serif;

$base-font-size: 1rem;
$base-unit: 14px;
$base-unit-small: 12px;

$media-div: 500px;
